<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Image</th>
            <th>Product details</th>
            <th>Edit Product</th>
        </tr>
        <tbody>
            {% for cart in carts %}
            <tr>
                <td>{{cart.product}} </td>
                <td>{{cart.price}} </td>
                <td> {{cart.quantity}}</td>
                <td>{{cart.image}} </td>
                
                <td><a href="{% url 'cart_detail_view' id=cart.id %}">View cart</a> </td>
                <td><a href="{% url 'edit_cart_view' id=cart.id %}">Edit cart</a></td>
             
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>