<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Recievers Name</th>
            <th>Title</th>
            <th>Description</th>
            <th>Message</th>
            <th>Date_time</th>
            <th>Date Created</th>
            <th>Date Updated</th>
          
            

        </tr>
        <tbody>
            {% for notification in notifications %}
            <tr>
                <td>{{notifiaction.Recievers_Name}}</td>
                <td>{{notification.title}} </td>
                <td>{{notification.description}}</td>
                <td>{{notification.message}} </td>
                <td>{{notification.date_time}} </td>
                <td>{{notificatiob.date_created}} </td>
                <td>{{notification.date_updated}} </td>
                
              



                
                <td><a href="{% url 'notification_details_view' id=notification.id %}">Notification details</a> </td>
                <td><a href="{% url 'notification_edit_view' id=notification.id %}">Notification edit</a></td>
             
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>