body {
    font-family: Arial, sans-serif;
    background-color: #F0F0F0;
    margin: 0;
    padding: 20px;
  }
  h3 {
    color: #007BFF;
    margin-left: 40%;
  }
  .upload-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .upload-form label {
    display: block;
    margin-bottom: 5px;
  }
  .upload-form input[type="text"],
  .upload-form input[type="email"],
  .upload-form input[type="text"],
  .upload-form input[type="email"],


  .upload-form textarea {
    width: 80%;
    padding: 30px;
    margin-bottom: 10px;
    border: 1px solid #152ae6;
    border-radius: 3px;
  }
  .upload-form textarea {
    resize: vertical;
  }
  .upload-form button[type="submit"] {
    background-color: #35f80e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .upload-form button[type="submit"]:hover {
    background-color: #0056B3;
  }